[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=laserkittys_speech_bubble_generator
X-Python-2-Compatible=false
X-Krita-Manual=manual.html
Name=LaserKitty's Speech Bubble Generator
Comment=Type text and create a speech bubble around it automatically.
